* {
  font-family: 'Lato',sans-serif; }

body {
  font-family: 'Lato', sans-serif;
  color: #939292;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 300; }
  body ::selection {
    background-color: #f1037b;
    color: #ffffff; }
  body ::-moz-selection {
    background-color: #f1037b;
    color: #ffffff; }

@media (max-width: 767px) {
  div[class^="col-"] {
    margin-bottom: 30px; }
    div[class^="col-"]:last-child {
      margin-bottom: 0; } }
a {
  color: #262625; }
  a:hover, a:active, a:focus {
    color: #f1037b;
    text-decoration: none; }

figure img {
  width: 100%; }

/* NAVBAR */
.navbar-default {
  margin: 0;
  border: none;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  z-index: 999;
  width: 100%; }
  .navbar-default .navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    color: #939292;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus {
      color: #f2f2f2; }
    .navbar-default .navbar-brand img {
      width: 100%; }
  .navbar-default .navbar-nav li {
    padding: 0; }
    .navbar-default .navbar-nav li a {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      color: #939292;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
      .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:focus {
        color: #f2f2f2; }
    .navbar-default .navbar-nav li.active a {
      background-color: transparent;
      color: #f2f2f2; }
      .navbar-default .navbar-nav li.active a:hover, .navbar-default .navbar-nav li.active a:active, .navbar-default .navbar-nav li.active a:focus {
        background-color: transparent;
        color: #f2f2f2; }
  .navbar-default .navbar-toggle {
    border-color: #939292; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #939292; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
      background-color: transparent; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 0px solid gold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
    .navbar-collapse.collapse {
      display: none !important; }

  .navbar-nav {
    float: none !important; }
    .navbar-nav li {
      float: none; }
      .navbar-nav li a {
        padding-top: 10px;
        padding-bottom: 10px; }
      .navbar-nav li:after {
        display: none; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
/*clients*/
.client {
  text-align: center;
  padding: 25px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }
  .client a {
    display: block;
    border: 3px solid transparent;
    padding: 70px 10px; }
    .client a img {
      width: 100%; }
  .client:hover {
    background-color: #f1037b; }
    .client:hover a {
      border: 3px solid #262625; }

/*team*/
.member {
  position: relative;
  margin: 0 0 25px 0; }
  .member .member-content {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: transparent;
    padding: 20px;
    z-index: 9;
    width: 100;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%); }
    .member .member-content h5.name {
      color: #ffffff;
      margin: 0 0 5px -20px;
      font-size: 22px;
      -webkit-transition: all 0.4s ease-in;
      -moz-transition: all 0.4s ease-in;
      -ms-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in; }
    .member .member-content h6.position {
      color: #ffffff;
      margin: 0 0 10px 20px;
      font-size: 16px;
      -webkit-transition: all 0.4s ease-in;
      -moz-transition: all 0.4s ease-in;
      -ms-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in; }
    .member .member-content p.description {
      margin: 30px 0 0 0;
      -webkit-transition: all 0.4s ease-in;
      -moz-transition: all 0.4s ease-in;
      -ms-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in; }
    .member .member-content .social-icons {
      margin: 30px 0 0 0;
      -webkit-transition: all 0.4s ease-in;
      -moz-transition: all 0.4s ease-in;
      -ms-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in; }
  .member:hover .member-content {
    visibility: visible;
    opacity: 1; }
    .member:hover .member-content h5.name {
      margin: 0 0 5px 0; }
    .member:hover .member-content h6.position {
      margin: 0 0 10px 0; }
    .member:hover .member-content p.description {
      margin: 0 0 0 0; }
    .member:hover .member-content .social-icons {
      margin: 10px 0 0 0; }
  .member.zoom img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .member.zoom:hover img {
    -ms-transform: scale(1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15);
    /* Chrome, Safari, Opera */
    transform: scale(1.15); }
  .member.layer-primary:after {
    content: ' ';
    position: absolute;
    background-color: rgba(241, 3, 123, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .member.layer-primary:hover:after {
    visibility: visible;
    opacity: 1; }
  .member.layer-dark:after {
    content: ' ';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .member.layer-dark:hover:after {
    visibility: visible;
    opacity: 1; }

/*portfolio*/
.portfolio-filter {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .portfolio-filter li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    font-weight: 500;
    padding: 0 5px; }
    .portfolio-filter li:before {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: #f2f2f2;
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
    .portfolio-filter li.active:before {
      bottom: 50%; }

@media (max-width: 767px) {
  #portfolio div[class^="col-"] {
    margin-bottom: 0; }
    #portfolio div[class^="col-"]:last-child {
      margin-bottom: 0; } }
#portfolio .mix {
  display: none; }
  #portfolio .mix .item {
    position: relative; }
    #portfolio .mix .item:after {
      content: ' ';
      position: absolute;
      background-color: rgba(241, 3, 123, 0.8);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    #portfolio .mix .item:hover:after {
      visibility: visible;
      opacity: 1; }
    #portfolio .mix .item.zoom img {
      width: 100%;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
    #portfolio .mix .item.zoom:hover img {
      -ms-transform: scale(1.2);
      /* IE 9 */
      -webkit-transform: scale(1.2);
      /* Chrome, Safari, Opera */
      transform: scale(1.2); }
    #portfolio .mix .item .item-content {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      background-color: transparent;
      padding: 20px;
      z-index: 9;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in;
      -moz-transition: all 0.4s ease-in;
      -ms-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
      -ms-transform: translateY(-50%);
      /* IE 9 */
      -webkit-transform: translateY(-50%);
      /* Chrome, Safari, Opera */
      transform: translateY(-50%); }
      #portfolio .mix .item .item-content h5.item-title {
        color: #ffffff;
        margin: 0 0 10px -20px;
        font-weight: 700;
        -webkit-transition: all 0.4s ease-in;
        -moz-transition: all 0.4s ease-in;
        -ms-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in; }
      #portfolio .mix .item .item-content p.description {
        color: #ffffff;
        margin: 30px 0 0 0;
        -webkit-transition: all 0.4s ease-in;
        -moz-transition: all 0.4s ease-in;
        -ms-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in; }
    #portfolio .mix .item:hover .item-content {
      visibility: visible;
      opacity: 1; }
      #portfolio .mix .item:hover .item-content h5.item-title {
        margin: 0 0 10px 0px; }
      #portfolio .mix .item:hover .item-content p.description {
        margin: 0 0 0 0; }

/*Projects*/
.project-nav {
  position: absolute;
  bottom: 0px;
  left: 0; }
  .project-nav .project {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%; }
    .project-nav .project li {
      position: relative;
      display: table-cell;
      background-position: center;
      background-size: cover; }
      .project-nav .project li a {
        position: relative;
        display: block;
        text-align: center;
        height: 80px;
        line-height: 70px;
        margin-top: 15px;
        color: #f2f2f2;
        font-size: 22px; }
        @media (max-width: 767px) {
          .project-nav .project li a {
            font-size: 16px; } }
        .project-nav .project li a:hover, .project-nav .project li a:active, .project-nav .project li a:focus {
          color: #ffffff; }
        .project-nav .project li a p {
          font-size: 22px;
          font-weight: 500; }
          @media (max-width: 767px) {
            .project-nav .project li a p {
              font-size: 16px; } }
          @media (max-width: 480px) {
            .project-nav .project li a p {
              font-size: 12px; } }
      .project-nav .project li.menu {
        background-color: #f1037b; }
      .project-nav .project li.layer:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
      .project-nav .project li.layer:hover:before {
        background-color: rgba(0, 0, 0, 0.6); }

/*Slider - carousel*/
.slide .item {
  padding: 90px 0;
  background-size: cover; }
.slide .carousel-control {
  width: 10%; }
.slide .carousel-caption {
  text-align: left;
  padding: 0;
  bottom: 50%;
  left: 0;
  -ms-transform: translateY(50%);
  /* IE 9 */
  -webkit-transform: translateY(50%);
  /* Chrome, Safari, Opera */
  transform: translateY(50%);
  width: 100%;
  color: #262625;
  text-shadow: none; }
  .slide .carousel-caption h1 {
    margin-bottom: 20px;
    font-size: 48px; }
  .slide .carousel-caption em {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    display: block; }
@media (max-width: 991px) {
  .slide .carousel-caption {
    position: relative;
    transform: translateY(0%); } }
.slide .carousel-indicators li {
  width: 5px;
  height: 16px;
  margin: 2px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: 0px solid #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
.slide .carousel-indicators .active {
  background-color: #f1037b;
  height: 22px; }

@media (min-width: 991px) {
  .project-description-left {
    padding: 0 100px 0 50px; }

  .project-description-right {
    padding: 0 50px 0 120px; } }
/*Buttons*/
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border: none; }
  .btn.btn-lg {
    padding: 12px 35px;
    font-size: 18px; }
  .btn.btn-md {
    padding: 10px 30px;
    font-size: 17px; }
  .btn.btn-sm {
    padding: 8px 25px;
    font-size: 15px; }
  .btn.btn-xs {
    padding: 6px 20px;
    font-size: 12px; }
  .btn.btn-default {
    color: #ffffff;
    background-color: #f1037b;
    border: 1px solid #f1037b; }
    .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
      color: #ffffff;
      background-color: #f1037b;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-dark {
    color: #ffffff;
    background-color: #262625;
    border: 1px solid #262625; }
    .btn.btn-dark:hover, .btn.btn-dark:active, .btn.btn-dark:focus {
      color: #ffffff;
      background-color: #262625;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-gray {
    color: #ffffff;
    background-color: #939292;
    border: 1px solid #939292; }
    .btn.btn-gray:hover, .btn.btn-gray:active, .btn.btn-gray:focus {
      color: #ffffff;
      background-color: #939292;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-light {
    color: #262625;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2; }
    .btn.btn-light:hover, .btn.btn-light:active, .btn.btn-light:focus {
      color: #262625;
      background-color: #f2f2f2;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-default-outline {
    color: #f1037b;
    background-color: transparent;
    border: 1px solid #f1037b; }
    .btn.btn-default-outline:hover, .btn.btn-default-outline:active, .btn.btn-default-outline:focus {
      color: #ffffff;
      background-color: #f1037b;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-dark-outline {
    color: #262625;
    background-color: transparent;
    border: 1px solid #262625; }
    .btn.btn-dark-outline:hover, .btn.btn-dark-outline:active, .btn.btn-dark-outline:focus {
      color: #ffffff;
      background-color: #262625;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-gray-outline {
    color: #939292;
    background-color: transparent;
    border: 1px solid #939292; }
    .btn.btn-gray-outline:hover, .btn.btn-gray-outline:active, .btn.btn-gray-outline:focus {
      color: #262625;
      background-color: #939292;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-light-outline {
    color: #939292;
    background-color: transparent;
    border: 1px solid #f2f2f2; }
    .btn.btn-light-outline:hover, .btn.btn-light-outline:active, .btn.btn-light-outline:focus {
      color: #262625;
      background-color: #f2f2f2;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-dark-outline-transparent {
    color: #262625;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2); }
    .btn.btn-dark-outline-transparent:hover, .btn.btn-dark-outline-transparent:active, .btn.btn-dark-outline-transparent:focus {
      color: #262625;
      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .btn.btn-light-outline-transparent {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2); }
    .btn.btn-light-outline-transparent:hover, .btn.btn-light-outline-transparent:active, .btn.btn-light-outline-transparent:focus {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }

/*sections*/
.layer-dark::before {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.layer-primary::before {
  content: ' ';
  background-color: rgba(241, 3, 123, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.noPadding {
  padding: 0px !important; }

.section {
  padding: 100px 0;
  position: relative; }

.primary-background {
  background: #f1037b;
  color: #ffffff; }
  .primary-background h1, .primary-background h2, .primary-background h3, .primary-background h4, .primary-background h5, .primary-background h6 {
    color: #ffffff; }

.image-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f2f2f2; }
  .image-background.fixed {
    background-attachment: fixed; }
  .image-background h1, .image-background h2, .image-background h3, .image-background h4, .image-background h5, .image-background h6 {
    color: #ffffff; }

.dark-background {
  background: #262625;
  color: #f2f2f2; }
  .dark-background h1, .dark-background h2, .dark-background h3, .dark-background h4, .dark-background h5, .dark-background h6 {
    color: #ffffff; }

.gray-background {
  background: #939292;
  color: #262625; }

.light-background {
  background: #f2f2f2;
  color: #939292; }
  .light-background h1, .light-background h2, .light-background h3, .light-background h4, .light-background h5, .light-background h6 {
    color: #262625; }

.white-background {
  background: #ffffff;
  color: #939292; }
  .white-background h1, .white-background h2, .white-background h3, .white-background h4, .white-background h5, .white-background h6 {
    color: #262625; }

@media (min-width: 991px) {
  .fullscreen {
    height: 100vh; } }
@media (max-width: 991px) {
  .fullscreen {
    height: 100%; } }
/*vertical aligns*/
@media (min-width: 991px) {
  .vertical-align {
    display: table; }
    .vertical-align [class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: middle; } }
/*colors and background colors*/
.text-primary {
  color: #f1037b; }

.text-dark {
  color: #262625; }

.text-gray {
  color: #939292; }

.text-light {
  color: #f2f2f2; }

.text-white {
  color: #ffffff; }

.bg-primary {
  background-color: #f1037b;
  padding: 1px 5px; }

.bg-dark {
  background-color: #262625; }

.bg-light {
  background-color: #939292; }

.bg-light {
  background-color: #f2f2f2; }

.bg-white {
  background-color: #ffffff; }

.round {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }

.semi-circle {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px; }

/*titles*/
.title {
  margin: 0 0 70px 0;
  text-align: center; }
  .title h1 {
    padding: 0 5px;
    display: inline;
    font-weight: bold;
    text-transform: uppercase; }
  .title label {
    font-weight: 300;
    font-size: 24px;
    padding: 0 5px; }

/*spacer*/
hr {
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  width: 60%; }
  hr.no-border {
    border-color: transparent; }
    hr.no-border:after {
      display: none; }
    hr.no-border:before {
      display: none; }
  hr:after {
    content: ' ';
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -6px;
    width: 9px;
    height: 9px;
    background-color: #f1037b;
    border: 1px solid #f1037b;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg); }
  hr:before {
    content: ' ';
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -6px;
    width: 9px;
    height: 9px;
    background-color: #f1037b;
    border: 1px solid #f1037b;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg); }

.image-background hr {
  border-color: rgba(255, 255, 255, 0.2); }
  .image-background hr.no-border {
    border-color: transparent; }

.spacer-5 {
  margin: 5px auto; }

.spacer-10 {
  margin: 10px auto; }

.spacer-20 {
  margin: 20px auto; }

.spacer-30 {
  margin: 30px auto; }

.spacer-40 {
  margin: 40px auto; }

.spacer-50 {
  margin: 50px auto; }

.spacer-60 {
  margin: 60px auto; }

.spacer-70 {
  margin: 70px auto; }

.spacer-80 {
  margin: 80px auto; }

.spacer-90 {
  margin: 90px auto; }

.spacer-100 {
  margin: 100px auto; }

/*typography*/
p {
  font-size: 16px;
  font-weight: 300; }

blockquote {
  font-size: 18px;
  border-color: #f1037b;
  padding: 20px 40px;
  text-align: left; }

.thin {
  font-weight: 300; }

.strong {
  font-weight: bold; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 34px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 26px; }

h6 {
  font-size: 20px; }

/*lists*/
.list {
  padding-left: 19px; }
  .list li {
    line-height: 35px; }

.alt-list li {
  list-style: none;
  position: relative;
  padding-left: 8px; }
  .alt-list li i:first-child {
    position: absolute;
    left: -18px;
    top: 10px;
    width: 20px;
    height: 20px;
    line-height: 15px;
    font-size: 11px;
    text-align: center; }

.list-inline.alt-list li {
  margin-right: 18px; }
  .list-inline.alt-list li:last-child {
    margin-right: 0; }

dl dt {
  margin-bottom: 5px;
  color: #262625; }
dl dd {
  margin-bottom: 10px; }

.dl-horizontal dt, .dl-horizontal dd {
  margin-bottom: 10px;
  text-align: left; }

/*dropcap*/
.dropcap {
  float: left;
  font-size: 26px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  margin: 5px 15px 0 0; }

/*Featured*/
.featured.style-1 {
  text-align: center; }
  .featured.style-1 .header {
    position: relative;
    margin-bottom: 15px; }
    .featured.style-1 .header i {
      font-size: 60px;
      position: absolute;
      top: 40%;
      left: 50%;
      margin-left: -30px;
      margin-top: -30px;
      z-index: 1;
      color: rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
    .featured.style-1 .header span {
      position: relative;
      font-size: 17px;
      font-weight: bold;
      z-index: 2;
      color: #262625;
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
  .featured.style-1:hover .header i {
    margin-top: -40px;
    z-index: 2;
    color: #f1037b; }
  .featured.style-1:hover .header span {
    z-index: 1;
    color: #939292; }
.featured.style-2 {
  text-align: left; }
  .featured.style-2 .header {
    position: relative;
    margin-bottom: 5px; }
    .featured.style-2 .header i {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 50px;
      z-index: 1;
      color: rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
    .featured.style-2 .header span {
      font-size: 17px;
      font-weight: bold;
      color: #262625;
      margin-left: 70px; }
  .featured.style-2:hover i {
    color: #f1037b; }
  .featured.style-2 p {
    margin-left: 70px; }

/*owl carousel*/
.owl-theme .owl-controls .owl-page {
  height: 22px; }
  .owl-theme .owl-controls .owl-page span {
    background-color: #ffffff;
    display: block;
    width: 5px;
    height: 16px;
    margin: 4px;
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
  .owl-theme .owl-controls .owl-page.active span {
    height: 22px;
    background-color: #f1037b; }

.white-background .owl-theme .owl-controls .owl-page span, light-backgound .owl-theme .owl-controls .owl-page span {
  background-color: #262625; }
.white-background .owl-theme .owl-controls .owl-page.active span, light-backgound .owl-theme .owl-controls .owl-page.active span {
  background-color: #f1037b; }

/*forms*/
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid transparent;
  background-color: transparent;
  border-bottom: 2px solid #262625;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    border-bottom: 2px solid #f1037b; }
  .form-control.input-lg {
    padding: 20px 15px; }
  .form-control.input-md {
    padding: 20px 12px; }
  .form-control.input-sm {
    padding: 18px 10px; }

.map {
  position: relative;
  width: 100%;
  height: 520px; }

/*tab process*/
.nav-process {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%; }
  @media (max-width: 991px) {
    .nav-process {
      table-layout: auto;
      display: block; } }
  .nav-process li {
    display: table-cell; }
    @media (max-width: 991px) {
      .nav-process li {
        display: block;
        margin-bottom: 40px; } }
    .nav-process li a {
      position: relative;
      display: block;
      color: #262625;
      font-weight: 500;
      font-size: 17px;
      text-align: center;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .nav-process li a span.number {
        font-size: 40px;
        line-height: 40px;
        width: 60px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -30px;
        margin-top: -23px;
        z-index: 1;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
      .nav-process li a span.name {
        position: relative;
        z-index: 3; }
      .nav-process li a:hover, .nav-process li a:active, .nav-process li a:focus {
        text-decoration: none; }
    .nav-process li.active a {
      color: #f1037b; }
      .nav-process li.active a span.number {
        margin-top: -50px;
        color: #f1037b; }

.tab-content {
  position: relative;
  text-align: left;
  margin-top: 40px;
  padding: 20px 150px; }
  @media (max-width: 991px) {
    .tab-content {
      padding: 20px 0px; } }
  .tab-content .number {
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 0;
    color: rgba(0, 0, 0, 0.05); }
  .tab-content .icon {
    position: absolute;
    bottom: 0px;
    right: 0;
    color: rgba(0, 0, 0, 0.05); }
    .tab-content .icon i {
      font-size: 100px; }

/*SOCIAL ICONS*/
.social-icons {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .social-icons li {
    display: inline-block; }
    .social-icons li a {
      display: block;
      margin-left: 10px;
      color: #262625; }
      .social-icons li a:hover, .social-icons li a:active, .social-icons li a:focus {
        color: #262625; }
    .social-icons li.facebook a {
      color: inherit; }
      .social-icons li.facebook a:hover, .social-icons li.facebook a:active, .social-icons li.facebook a:focus {
        color: #3b5998; }
    .social-icons li.twitter a {
      color: inherit; }
      .social-icons li.twitter a:hover, .social-icons li.twitter a:active, .social-icons li.twitter a:focus {
        color: #1da1f2; }
    .social-icons li.instagram a {
      color: inherit; }
      .social-icons li.instagram a:hover, .social-icons li.instagram a:active, .social-icons li.instagram a:focus {
        color: #f4b97a; }
    .social-icons li.youtube a {
      color: inherit; }
      .social-icons li.youtube a:hover, .social-icons li.youtube a:active, .social-icons li.youtube a:focus {
        color: #cc181e; }
    .social-icons li.dribbble a {
      color: inherit; }
      .social-icons li.dribbble a:hover, .social-icons li.dribbble a:active, .social-icons li.dribbble a:focus {
        color: #e14984; }
    .social-icons li.behance a {
      color: inherit; }
      .social-icons li.behance a:hover, .social-icons li.behance a:active, .social-icons li.behance a:focus {
        color: #1769ff; }
    .social-icons li.pinterest a {
      color: inherit; }
      .social-icons li.pinterest a:hover, .social-icons li.pinterest a:active, .social-icons li.pinterest a:focus {
        color: #bd081c; }
    .social-icons li.google-plus a {
      color: inherit; }
      .social-icons li.google-plus a:hover, .social-icons li.google-plus a:active, .social-icons li.google-plus a:focus {
        color: #d44032; }
  .social-icons.style1 li.facebook a {
    color: #3b5998; }
  .social-icons.style1 li.twitter a {
    color: #1da1f2; }
  .social-icons.style1 li.instagram a {
    color: #f4b97a; }
  .social-icons.style1 li.youtube a {
    color: #cc181e; }
  .social-icons.style1 li.dribbble a {
    color: #e14984; }
  .social-icons.style1 li.behance a {
    color: #1769ff; }
  .social-icons.style1 li.pinterest a {
    color: #bd081c; }
  .social-icons.style1 li.google-plus a {
    color: #d44032; }
  .social-icons.style2 li a {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    display: block;
    background-color: #f1037b;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 1px; }
  .social-icons.style2 li.facebook a {
    background-color: #3b5998; }
    .social-icons.style2 li.facebook a:hover, .social-icons.style2 li.facebook a:active, .social-icons.style2 li.facebook a:focus {
      color: #ffffff; }
  .social-icons.style2 li.twitter a {
    background-color: #1da1f2; }
    .social-icons.style2 li.twitter a:hover, .social-icons.style2 li.twitter a:active, .social-icons.style2 li.twitter a:focus {
      color: #ffffff; }
  .social-icons.style2 li.instagram a {
    background-color: #f4b97a; }
    .social-icons.style2 li.instagram a:hover, .social-icons.style2 li.instagram a:active, .social-icons.style2 li.instagram a:focus {
      color: #ffffff; }
  .social-icons.style2 li.youtube a {
    background-color: #cc181e; }
    .social-icons.style2 li.youtube a:hover, .social-icons.style2 li.youtube a:active, .social-icons.style2 li.youtube a:focus {
      color: #ffffff; }
  .social-icons.style2 li.dribbble a {
    background-color: #e14984; }
    .social-icons.style2 li.dribbble a:hover, .social-icons.style2 li.dribbble a:active, .social-icons.style2 li.dribbble a:focus {
      color: #ffffff; }
  .social-icons.style2 li.behance a {
    background-color: #1769ff; }
    .social-icons.style2 li.behance a:hover, .social-icons.style2 li.behance a:active, .social-icons.style2 li.behance a:focus {
      color: #ffffff; }
  .social-icons.style2 li.pinterest a {
    background-color: #bd081c; }
    .social-icons.style2 li.pinterest a:hover, .social-icons.style2 li.pinterest a:active, .social-icons.style2 li.pinterest a:focus {
      color: #ffffff; }
  .social-icons.style2 li.google-plus a {
    background-color: #d44032; }
    .social-icons.style2 li.google-plus a:hover, .social-icons.style2 li.google-plus a:active, .social-icons.style2 li.google-plus a:focus {
      color: #ffffff; }

/*figure and zoom effects*/
figure {
  position: relative;
  overflow: hidden; }
  figure img {
    width: 100%; }
  figure figcaption {
    color: #939292;
    font-size: 13px;
    padding: 5px 0; }
  figure.zoom img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  figure.zoom:hover img {
    -ms-transform: scale(1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15);
    /* Chrome, Safari, Opera */
    transform: scale(1.15); }
  figure.zoom-out img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  figure.zoom-out:hover img {
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Chrome, Safari, Opera */
    transform: scale(0.9); }

/*down icon*/
.down-icon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -22px; }

.middle {
  position: absolute;
  bottom: 50%;
  left: 0;
  padding: 0;
  -ms-transform: translateY(50%);
  /* IE 9 */
  -webkit-transform: translateY(50%);
  /* Chrome, Safari, Opera */
  transform: translateY(50%);
  width: 100%; }
  @media (max-width: 991px) {
    .middle {
      position: relative;
      transform: translateY(0%); } }

/*# sourceMappingURL=style.css.map */
