{% extends "__base.html" %}
{% load staticfiles %}
{% block nav_section %}{% include '_nav_section.html' %}{% endblock %}
{% block content %}
        <!-- start section -->
        <section class="section image-background fixed layer-dark fullscreen"
                 style="background-image: url({% static 'img/projects/project_bg_03.jpg' %});">
            <div class="middle">
                <div class="container">
                <div class="row text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="strong">"Yeni müşterilere sahip olmanın en iyi yolu şimdiki müşteriler için potansiyel
                            müşterileri etkileyecek türde reklamlar yaratmaktır." </h3>
                        <p>David Ogilvy</p>
                        <hr class="spacer-30">
                        <p class="lead">Sahiplendiğimiz markalarımız için iletişim ve marka stratejileri oluştururken
                            tüketiciye ulaşacak her mecrayı fırsata çevirmeyi iyi biliyoruz :-)
                            Projelerimizde Online ve offline medya kullanımına yönelik kreatif içerik tasarım ve
                            uygulama, sosyal medya yönetimi de dahil olmak üzere dijital medyanın tüm alanları için
                            oluşturduğumuz stratejiler ile markalarımızın pazar paylarını arttırıcı faaliyetleri
                            gerçekleştirerek 360º pazarlama deneyimi yaşatıyoruz.
                            Başarıya nasıl mı ulaşıyoruz?</p>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end middle -->
            </div><!-- end container -->
            <div class="down-icon">
                <a href="#" data-scroll="about">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="45px" height="23px" viewBox="318.5 337.5 45 23" enable-background="new 318.5 337.5 45 23" xml:space="preserve">
                        <polygon fill="#ffffff" points="321.493,338.46 340.9,357.319 360.375,338.46 361.4,339.075 340.9,358.96 320.4,339.075 "/>
                    </svg>
                </a>
            </div><!-- end down-icon -->
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="section primary-background" data-anchor="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="strong">Tanıma</h6>
                        <p>Sizi dinleriz... Markanın  oluşumu, büyümesi ve iletişimi için bizimle tanışana kadar
                            yaptıklarınızı, bundan sonra yapmak istediklerinizi  dinleriz.</p>
                    </div><!-- end col -->
                    <div class="col-sm-4">
                        <h6 class="strong">Anlama</h6>
                        <p>Sizi  anlarız... Anlamak için izlediğimiz yol aslında çok basittir. “Bir aslanın nasıl
                            avlandığını anlamak için ormana gidin, hayvanat bahçesine değil” Kevin Roberts</p>
                    </div><!-- end col -->
                    <div class="col-sm-4">
                        <h6 class="strong">Anlatma</h6>
                        <p>Sizi  anlatırız... "Bir işin sadece tek bir geçerli amacı olabilir: Müşteri kazanmak"
                            Peter F. Drucker. Bizler müşterilerimizin pazar paylarını arttırmak için çalışırız.
                            İnanırız ki; değer yaratan iki faaliyet vardır; yenilik ve pazarlama.</p>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="section light-background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">
                            <label><span class="text-primary">Gerçek</span> diye bir şey yoktur sadece
                            <span class="text-primary">Algı</span> vardır. <br> Gustave Flaubert</label>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="member zoom layer-dark">
                            <figure>
                                <img src="{% static 'img/team/questionmark.jpg' %}" alt="">
                            </figure>
                            <div class="member-content">
                                <h5 class="name">MARKA YÖNETİMİ</h5>
{#                                <h6 class="position">UI/UX Designer</h6>#}
                                <p class="description">Bizler ürünün ve hizmetin hedef kitle algısı bazında önemli ve
                                    değerli olması için işe önce doğru bir marka konumlandırmasıyla başlamak gerektiğine
                                    inanıyoruz. </p>
{#                                <ul class="social-icons style2">#}
{#                                    <li class="facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>#}
{#                                    <li class="twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>#}
{#                                    <li class="instagram"><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>#}
{#                                    <li class="dribbble"><a href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>#}
{#                                    <li class="behance"><a href="javascript:void(0);"><i class="fa fa-behance"></i></a></li>#}
{#                                </ul>#}
                            </div><!-- end member-content -->
                        </div><!-- end member -->
                    </div><!-- end col -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="member zoom layer-dark">
                            <figure>
                                <img src="{% static 'img/team/puzzle.jpg' %}" alt="">
                            </figure>
                            <div class="member-content">
                                <h5 class="name">MARKA STRATEJİSİ</h5>
{#                                <h6 class="position">UI/UX Designer</h6>#}
                                <p class="description">Sahiplendiğimiz markalarımızın en doğru iletişim stratejisiyle ve
                                    bütüncül bir anlayışla hedef kitleyle buluşmasını sağlıyoruz...</p>
{#                                <ul class="social-icons style2">#}
{#                                    <li class="facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>#}
{#                                    <li class="twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>#}
{#                                    <li class="instagram"><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>#}
{#                                    <li class="behance"><a href="javascript:void(0);"><i class="fa fa-behance"></i></a></li>#}
{#                                    <li class="google-plus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>#}
{#                                </ul>#}
                            </div><!-- end member-content -->
                        </div><!-- end member -->
                    </div><!-- end col -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="member zoom layer-dark">
                            <figure>
                                <img src="{% static 'img/team/hands.jpg' %}" alt="">
                            </figure>
                            <div class="member-content">
                                <h5 class="name">CREATIVE ÇÖZÜMLER</h5>
{#                                <h6 class="position">UI/UX Designer</h6>#}
                                <p class="description">“Yaratıcılık, bildiğiniz iki şeyi bilmediğiniz bir şekilde
                                    birbirine bağlamaktır”  der Leo Burnett. Consulta ekibi yıllardır en iyi bildiği
                                    işi yapıyor...</p>
{#                                <ul class="social-icons style2">#}
{#                                    <li class="facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>#}
{#                                    <li class="twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>#}
{#                                    <li class="instagram"><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>#}
{#                                    <li class="behance"><a href="javascript:void(0);"><i class="fa fa-behance"></i></a></li>#}
{#                                </ul>#}
                            </div><!-- end member-content -->
                        </div><!-- end member -->
                    </div><!-- end col -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="member zoom layer-dark">
                            <figure>
                                <img src="{% static 'img/team/tree.jpg' %}" alt="">
                            </figure>
                            <div class="member-content">
                                <h5 class="name">DİJİTAL ÇÖZÜMLER</h5>
{#                                <h6 class="position">UI/UX Designer</h6>#}
                                <p class="description">Bizler dijital dünyayı bir bütün olarak görür, aralarından
                                    ihtiyacınız olan en doğru araçları kullanarak siz işinizi yaparken müşterilerinizin
                                    size gelmesi için çalışırız.</p>
{#                                <ul class="social-icons style2">#}
{#                                    <li class="facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>#}
{#                                    <li class="twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>#}
{#                                    <li class="instagram"><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>#}
{#                                    <li class="dribbble"><a href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>#}
{#                                    <li class="behance"><a href="javascript:void(0);"><i class="fa fa-behance"></i></a></li>#}
{#                                </ul>#}
                            </div><!-- end member-content -->
                        </div><!-- end member -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->
{% endblock %}
{% block javascript_section %}{% include '_javascript_section.html' %}{% endblock %}
{% block custom_javascript_section %}{% include '_custom_javascript.html' %}{% endblock %}
