{% extends "__base.html" %}
{% load staticfiles %}
 {% block title %} Hizmetlerimiz {% endblock %}
{% block nav_section %}{% include '_nav_section.html' %}{% endblock %}
{% block content %}
        <!-- start section -->
        <section class="section image-background layer-dark"
                 style="background-image: url({% static 'img/projects/project_bg_03.jpg' %});">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1 class="strong">İyi ama gösterilmemiş reklam, satış yaptırmaz.</h1>
                        <p>Leo Burnett</p>

                        <hr class="spacer-30">

                        <p class="lead">
                            Sahiplendiğimiz markaların Pazarlama Stratejileri ve İş Hedeflerini ele alırken amacımız;
                            markaya <strong>"rekabet üstünlüğü"</strong> yaratarak pazar payını
                            arttıracak <strong>"ticari başarı"</strong> sağlayacak işler ortaya
                            çıkartmaktır.
                        </p>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="section light-background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">
                            <h1>NE VAR NE YOK</h1><label></label>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav-process">
                            <li class="active">
                                <a data-toggle="tab" href="#discuss">
                                    <span class="number">01</span>
                                    <span class="name">KREATİF TASARIM</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#creative-idea">
                                    <span class="number">02</span>
                                    <span class="name">DIGITAL PAZARLAMA</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#pototype">
                                    <span class="number">03</span>
                                    <span class="name">SOSYAL MEDYA HİZMETLERİ</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#launch">
                                    <span class="number">04</span>
                                    <span class="name">YAZILIM</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="discuss" class="tab-pane fade in active">
                                <span class="number hidden-sm hidden-xs">01<i class="text-primary">.</i></span>
                                <h2>KREATİF TASARIM</h2>
                                <p>Meraklı, girişimci, cesur ve yaratıcı ekibimiz ile yaptığınız işi, sektörünüzü,
                                    ürününüzü ve hedef kitlenizi tanıyarak, hedef kitlenizin beğenisini yakalayacak
                                    creative çözümleri üretir, geliştirir ve faaliyete geçiririz.</p>
                                <ol class="list">
                                    <li>Basılı İşler</li>
                                    <li>İnteraktif tasarımlar</li>
                                    <li>Logo Tasarımı</li>
                                    <li>Uygulama Tasarımları</li>
                                    <li>Website Tasarımı</li>
                                </ol><!-- end list -->
                                <div class="icon">
                                    <i class="fa fa-coffee hidden-sm hidden-xs"></i>
                                </div><!-- end icon -->
                            </div><!-- end tab-pane -->
                            <div id="creative-idea" class="tab-pane fade">
                                <span class="number hidden-sm hidden-xs">02<i class="text-primary">.</i></span>
                                <h2>DIGITAL PAZARLAMA</h2>
                                <p>Dijital dünyayı bir bütün olarak görüyor, aralarından ihtiyacınız olan en doğru
                                    araçları kullanarak müşterilerinizle sizi buluşturuyoruz. Pazarlama fikirlerinizi
                                    dijital ortamda planlıyor ve dijital stratejilerinizi oluşturuyoruz. İhtiyaç
                                    duyduğunuz her alanda yazılımlar geliştiriyoruz. Web, mobil, masaüstü, sosyal medya,
                                    e-ticaret...Sosyal medyada sizi konuşturuyor, arama motorlarındaki görünürlüğünüzü
                                    artırıyor ve tüm mecralarda reklamınızı yönetiyoruz.</p>
                                <ol class="list">
                                    <li>360 ° dijital kampanyalar</li>
                                    <li>Kampanya yönetimi</li>
                                    <li>Sosyal medya & içerik pazarlaması</li>
                                    <li>Dijital Marka Stratejilerinin Geliştirilmesi</li>
                                    <li>Online İtibar Yönetimi</li>
                                    <li>E-bülten tasarım ve içerik yazımı</li>
                                    <li>Mailing</li>
                                </ol><!-- end list -->
                                <div class="icon">
                                    <i class="fa fa-lightbulb-o hidden-sm hidden-xs"></i>
                                </div><!-- end icon -->
                            </div><!-- end tab-pane -->
                            <div id="pototype" class="tab-pane fade">
                                <span class="number hidden-sm hidden-xs">03<i class="text-primary">.</i></span>
                                <h2>SOSYAL MEDYA HİZMETLERİ</h2>
                                <p>Günümüzde mobil cihazların kullanım oranının ve özelliklerinin artmasıyla birlikte
                                    sosyal medya herkesin sürekli kullandığı birer iletişim mecrası haline geldi.
                                    Bakmayın, biz çok eskiden beri kullanırız :-) Sosyal medyada uzun yıllar boyunca
                                    elde ettiğimiz deneyim ve uzman kadromuzla en efektif ve en az maliyetli satış
                                    noktasına sahip olmanız için, doğru strateji ve içerik ile sizlere de sosyal medyada
                                    yer açalım.</p>
                                <ol class="list">
                                    <li>Sosyal Medya Reklamları</li>
                                    <li>Sosyal CRM</li>
                                    <li>Kampanya Yönetimi</li>
                                    <li>İçerik üretimi ve Pazarlama</li>
                                    <li>Anlık Moderasyon</li>
                                    <li>Organik Erişimi Arttırma</li>
                                    <li>Takip, Analiz, Raporlama</li>
                                </ol><!-- end list -->
                                <div class="icon">
                                    <i class="fa fa-paint-brush hidden-sm hidden-xs"></i>
                                </div><!-- end icon -->
                            </div><!-- end tab-pane -->
                            <div id="launch" class="tab-pane fade">
                                <span class="number hidden-sm hidden-xs">04<i class="text-primary">.</i></span>
                                <h2>YAZILIM</h2>
                                <p>Sitenizin daha çok kullanıcıya ulaşması için önce her platformda açılabilir olması
                                    gerekir :-( günümüz sitelerinin temel problemi maalesef budur... Kafasına göre
                                    takılıp istediği arama motorunda açılan, istediğinde açılmayan kaprisli siteler...
                                    Responsive olmayan yazılımlar nedeniyle - ama bilgisayarda açılıyordu yaaa- türü
                                    sızlanmalar yaşayacağınız yazılımlar...
                                    Biz tüm bunları yaşamamanız için Consultada yazılım ve tasarım ekibimizi ayrı
                                    oluşturduk. İsterseniz sadece hayalini
                                    kurduğunuz bir blog sayfası, isterseniz tanıtım sitesi, isterseniz e- ticaret...
                                    Siz ihtiyacınızı belirtin yeter, gerisi uzmanlarımızın klavyesinde hayat bulsun...
                                </p>
                                <ol class="list">
                                    <li>Mobil Uyumluluk</li>
                                    <li>Modüler Yazılım Sistemi</li>
                                    <li>İçerik Yönetim Sistemleri</li>
                                    <li>E-Ticaret Sistemleri</li>
                                    <li>İçerik Yazımı Hizmeti</li>
                                </ol><!-- end list -->
                                <div class="icon">
                                    <i class="fa fa-space-shuttle hidden-sm hidden-xs"></i>
                                </div><!-- end icon -->
                            </div><!-- tab-pane -->
                        </div><!-- end tab-content -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->
{% endblock %}
{% block javascript_section %}{% include '_javascript_section.html' %}{% endblock %}
{% block custom_javascript_section %}{% include '_custom_javascript.html' %}{% endblock %}
