{% load staticfiles %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-revolution-5-container">
						<div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
							<ul class="slides">
                                {% for banner in sliders %}
                                    {{ banner }}
                                    {% if banner.tip == "Tip2" %}
                                        {% include "02_banner_section/_banner_type_2.html" with banner=banner%}
                                    {% else %}
                                        {% include "02_banner_section/_banner_type_1.html" with banner=banner%}
                                    {% endif %}
                                {% endfor %}
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->