{% load staticfiles %}
			<!-- header-container start -->
			<div class="header-container">

				<!-- header-top start -->
				<!-- classes:  -->
				<!-- "dark": dark version of header top e.g. class="header-top dark" -->
				<!-- "colored": colored version of header top e.g. class="header-top colored" -->
				<!-- ================ -->

				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ -->
				<header class="header fixed clearfix">

					<div class="container">
						<div class="row">
							<div class="col-md-3 ">
								<!-- header-first start -->
								<!-- ================ -->
								<div class="header-first clearfix">

									<!-- logo -->
									<div id="logo" class="logo">
										<a href="index.html"><img id="logo_img" src="{% static 'images/pureads_150.png' %}" alt="Pureads Logo"></a>
									</div>

									<!-- name-and-slogan -->
									<div class="site-slogan">

									</div>

								</div>
								<!-- header-first end -->

							</div>
							<div class="col-md-9">

								<!-- header-second start -->
								<!-- ================ -->

								<!-- header-second end -->

							</div>
						</div>
					</div>

				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->