			<!-- section WHAT WE DO start -->
			<!-- ================ -->
			<section class="light-gray-bg pv-30 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">BİZ <i class="fa fa-heart text-default"></i> NELER YAPIYORUZ?</h2>
							<div class="separator"></div>
							<p class="large text-center"></p>
						</div>
                        <div class="col-md-3">
							<div class="pv-30 feature-box margin-clear text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                <span class="icon default-bg circle"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
								<h3>Display & Performans</h3>
								<div class="separator clearfix"></div>
								<p><strong>Standart Banner</strong> <br>
                                    Video – Pre-roll / Mid-roll / Post-roll <br>
                                    Instream<br>
                                    Masthead<br>
                                    Insterstitial<br>
                                    CPM - CPC - CPV Satınalma
{#						    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>#}
							</div>
						</div>
						<div class="col-md-3">
							<div class="pv-30 feature-box margin-clear text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon default-bg circle"><i class="fa fa-mobile fa-2" aria-hidden="true"></i></span>
								<h3>Mobil</h3>
								<div class="separator clearfix"></div>
								<p><strong>Mobil Banner</strong> <br>
                                    Mobil Interstitial <br>
                                    CPM – CPC – CPV Satınalma
                                </p>
{#								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>#}
							</div>
						</div>
						<div class="col-md-3">
							<div class="pv-30 feature-box margin-clear text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
								<span class="icon default-bg circle"><i class="fa fa-diamond" aria-hidden="true"></i></span>
								<h3>Rich Media</h3>
								<div class="separator clearfix"></div>
								<p><strong>Fullmotion</strong> <br>
                                    Takeover <br>
                                    Videolu Masthead <br>
                                    CPM – CPV Satınalma</p>
{#								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>#}
							</div>
						</div>
						<div class="col-md-3">
							<div class="pv-30 feature-box margin-clear text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon default-bg circle"><i class="fa fa-download" aria-hidden="true"></i></span>
								<h3>APP Download</h3>
								<div class="separator clearfix"></div>
								<p><strong>CPD – CPI Satınalma</strong></p>
{#								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>#}
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section WHAT WE DO end -->