			<!-- section WHAT WE DO start -->
			<!-- ================ -->
			<section class="light-gray-bg pv-30 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">BİZ <i class="fa fa-heart text-default"></i> NELER YAPIYORUZ?</h2>
							<div class="separator"></div>
							<p class="large text-center">Standart Banner, Video – Pre-roll / Mid-roll / Post-roll  -
                                Instream - Masthead – Insterstitial CPM – CPC – CPV Satınalma</p>
						</div>
						<div class="col-md-4">
							<div class="pv-30 feature-box margin-clear text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
								<h3>Mobil</h3>
								<div class="separator clearfix"></div>
								<p>Mobil Banner, Mobil Interstitial CPM – CPC – CPV Satınalma</p>
{#								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>#}
							</div>
						</div>
						<div class="col-md-4">
							<div class="pv-30 feature-box margin-clear text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
								<span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
								<h3>Rich Media</h3>
								<div class="separator clearfix"></div>
								<p>Fullmotion, Takeover, Videolu Masthead CPM – CPV Satınalma</p>
{#								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>#}
							</div>
						</div>
						<div class="col-md-4">
							<div class="pv-30 feature-box margin-clear text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon default-bg circle"><i class="fa icon-snow"></i></span>
								<h3>APP Download</h3>
								<div class="separator clearfix"></div>
								<p>CPD – CPI Satınalma</p>
{#								<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>#}
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section WHAT WE DO end -->