{% load staticfiles %}
			<!-- section PORTFOLIO start -->
			<!-- ================ -->
			<section class="section pv-30">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h2 class="title"><span class="text-muted">Hedefleme</span> <span class="text-default">Seçeneklerimiz</span></h2>
							<div class="separator"></div>
						</div>
					</div>

					<div class="isotope-container row grid-space-0">
						<div class="col-sm-6 col-md-4 isotope-item app-development">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/image-1.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>Coğrafi Hedefleme</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p>Reklamlarınız belirttiğiniz bölgelerde yayına alınır.
                                                Böylelikle kampanyanız doğru müşterileri bulabileceğiniz bölgelere
                                                odaklanır.</p>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-6 col-md-4 isotope-item app-development">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/image-2.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>Teknik Hedefleme</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p>Browser, ekran çözünürlüğü gibi hedeflemeler
                                            gerçekleştirilebilir.</p>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-6 col-md-4 isotope-item app-development">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/image-3.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Demografik Hedefleme</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p>Reklamlarınız seçtiğiniz yaş ve cinsiyet gruplarına ulaşır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 isotope-item app-development">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/image-4.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Kategori Hedefleme</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p>Kadın, Haber, Finans, Teknoloji, Otomotiv, FMCG, E-Ticaret,
                                            İnşaat, Turizm, eğitim gibi kategorilerde hedeflenen reklamlarınız ilgili
                                            yayıncı/kategori sayfalarında yer alır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 isotope-item app-development">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/image-5.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Mobil Hedefleme</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p>Reklamlarınız mobil cihazda görüntülenen web sayfalarında
                                            yayınlanır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 isotope-item app-development">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/image-6.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Data Hedefleme</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p>Kategorilerden bağımsız olarak eğitim seviyesi, gelir düzeyi
                                            gibi detaylı kırılımlarla hedef kitlenize nokta atışı ulaşmanızı sağlar.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

					</div>
					<div class="space-bottom"></div>
					<hr>
				</div>
				<div class="owl-carousel content-slider">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="testimonial text-center">
									<div class="testimonial-image">
										<img src="{% static 'images/testimonials/testimonial-1.jpg' %}" alt="Retargeting"
                                             title="Retargeting" class="img-circle">
									</div>
									<h3>Retargeting</h3>
									<div class="separator"></div>
									<div class="testimonial-body">
										<blockquote>
											<p>Sitenize gelmiş ve ayrılmış ziyaretçinizi networkte yeniden
                                                hedefler. Görünürlüğünüzü ve satış performansınızı artırır. </p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
{% comment %}					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="testimonial text-center">
									<div class="testimonial-image">
										<img src="{% static 'images/testimonial-2.jpg' %}" alt="Jane Doe" title="Jane Doe" class="img-circle">
									</div>
									<h3>Amazing!</h3>
									<div class="separator"></div>
									<div class="testimonial-body">
										<blockquote>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
										</blockquote>
										<div class="testimonial-info-1">- Jane Doe</div>
										<div class="testimonial-info-2">By Company</div>
									</div>
								</div>
							</div>
						</div>
					</div>{% endcomment %}
				</div>
                <div class="owl-carousel content-slider">
				    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
								<div class="testimonial text-center">
									<div class="brands-image">
										<img src="{% static 'images/testimonials/testimonial-1.jpg' %}" alt="Retargeting"
                                             title="Retargeting">
									</div>
								</div>
							</div>
                        </div>
				    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
								<div class="testimonial text-center">
									<div class="brands-image">
										<img src="{% static 'images/testimonials/testimonial-1.jpg' %}" alt="Retargeting"
                                             title="Retargeting">
									</div>
								</div>
							</div>
                        </div>
				    </div>
                </div>
			</section>
			<!-- section PORTFOLIO end -->