{% load staticfiles %}
			<!-- section PORTFOLIO start -->
			<!-- ================ -->
			<section class="section pv-30">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h2 class="title"><span class="text-muted">Nerede</span> <span class="text-default">&</span>
                                <span class="text-muted">Nasıl?</span></h2>
							<div class="separator"></div>
						</div>
					</div>

                    <!-- isotope filters start -->
					<div class="filters text-center">
						<ul class="nav nav-pills style-2">
							<li class="active"><a href="#" data-filter="*">Tümü</a></li>
							<li><a href="#" data-filter=".display-performance">Display & Performans</a></li>
							<li><a href="#" data-filter=".hedefleme-secenekleri">Hedefleme Seçeneklerimiz</a></li>
                            <li><a href="#" data-filter=".social">Sosyal Sorumluluk</a></li>
						</ul>
					</div>
					<!-- isotope filters end -->

					<div class="isotope-container row grid-space-0">
                        <div class="col-sm-6 col-md-3 isotope-item display-performance">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/display-performans/dp-video-reklam.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>Video</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p class="small">
                                            Pre-roll & Mid-roll & Post-roll<br>Video Masthead<br>Instream
                                        </p>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-6 col-md-3 isotope-item display-performance">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/display-performans/dp-standart-banner.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>Display</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p class="small">Standart Banner<br>Masthead<br>Insterstitial</p>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-6 col-md-3 isotope-item display-performance">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/display-performans/dp-app-download.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>App Download</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p class="small"></p>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-6 col-md-3 isotope-item display-performance">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/display-performans/dp-mobil-reklam.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>Mobil</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p class="small">Mobil Banner<br>Interstitial</p>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-6 col-md-3 isotope-item display-performance">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/display-performans/dp-rich-media.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>Rich Media</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p class="small">Full Motion <br> Takeover</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 isotope-item hedefleme-secenekleri">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/hedefleme-secenekleri/image-1.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>Coğrafi Hedefleme</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p class="small">Reklamlarınız belirttiğiniz bölgelerde yayına alınır.
                                                Böylelikle kampanyanız doğru müşterileri bulabileceğiniz bölgelere
                                                odaklanır.</p>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-6 col-md-3 isotope-item hedefleme-secenekleri">
							<div class="image-box text-center">
								<div class="overlay-container">
									<img src="{% static 'images/portfolio/hedefleme-secenekleri/image-2.jpg' %}" alt="">
									<div class="overlay-top">
										<div class="text">
											<h3>Teknik Hedefleme</h3>
										</div>
									</div>
									<div class="overlay-bottom">
                                        <p class="small">Browser, ekran çözünürlüğü gibi hedeflemeler
                                            gerçekleştirilebilir.</p>
									</div>
								</div>
							</div>
						</div>
                        <div class="col-sm-6 col-md-3 isotope-item hedefleme-secenekleri">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/hedefleme-secenekleri/image-3.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Demografik Hedefleme</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p class="small">Reklamlarınız seçtiğiniz yaş ve cinsiyet gruplarına ulaşır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 isotope-item hedefleme-secenekleri">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/hedefleme-secenekleri/image-4.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Kategori Hedefleme</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p class="small">Kadın, Haber, Finans, Teknoloji, Otomotiv, FMCG, E-Ticaret,
                                            İnşaat, Turizm, eğitim gibi kategorilerde hedeflenen reklamlarınız ilgili
                                            yayıncı/kategori sayfalarında yer alır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 isotope-item hedefleme-secenekleri">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/hedefleme-secenekleri/image-5.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Mobil Hedefleme</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p class="small">Reklamlarınız mobil cihazda görüntülenen web sayfalarında
                                            yayınlanır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 isotope-item hedefleme-secenekleri">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/hedefleme-secenekleri/image-6.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Data Hedefleme</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p class="small">Kategorilerden bağımsız olarak eğitim seviyesi, gelir düzeyi
                                            gibi detaylı kırılımlarla hedef kitlenize nokta atışı ulaşmanızı sağlar.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 isotope-item social">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <img src="{% static 'images/portfolio/social/dog.jpg' %}" alt="">
                                    <div class="overlay-top">
                                        <div class="text">
                                            <h3>Sosyal Sorumluluk</h3>
                                        </div>
                                    </div>
                                    <div class="overlay-bottom">
                                        <p class="small">PureAds, insan ve çevre için daha iyi koşullar & daha güzel
                                            bir gelecek sağlamak amacıyla, sizden aldığı gücü, sizin seçeceğiniz yardım
                                            kuruluşlarıyla paylaşmayı hedefliyor.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
{#                        <div class="col-sm-6 col-md-3 isotope-item social">#}
{#                            <div class="image-box text-center">#}
{#                                <div class="overlay-container">#}
{#                                    <img src="{% static 'images/portfolio/social/friendship.jpg' %}" alt="">#}
{#                                    <div class="overlay-top">#}
{#                                        <div class="text">#}
{#                                            <h3>Sosyal Sorumluluk</h3>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="overlay-bottom">#}
{#                                        <p class="small">PureAds, insan ve çevre için daha iyi koşullar & daha güzel#}
{#                                            bir gelecek sağlamak amacıyla, sizden aldığı gücü, sizin seçeceğiniz yardım#}
{#                                            kuruluşlarıyla paylaşmayı hedefliyor.</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-sm-6 col-md-3 isotope-item social">#}
{#                            <div class="image-box text-center">#}
{#                                <div class="overlay-container">#}
{#                                    <img src="{% static 'images/portfolio/social/stethoscope.jpg' %}" alt="">#}
{#                                    <div class="overlay-top">#}
{#                                        <div class="text">#}
{#                                            <h3>Sosyal Sorumluluk</h3>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="overlay-bottom">#}
{#                                        <p class="small">PureAds, insan ve çevre için daha iyi koşullar & daha güzel#}
{#                                            bir gelecek sağlamak amacıyla, sizden aldığı gücü, sizin seçeceğiniz yardım#}
{#                                            kuruluşlarıyla paylaşmayı hedefliyor.</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-sm-6 col-md-3 isotope-item social">#}
{#                            <div class="image-box text-center">#}
{#                                <div class="overlay-container">#}
{#                                    <img src="{% static 'images/portfolio/social/still-life.jpg' %}" alt="">#}
{#                                    <div class="overlay-top">#}
{#                                        <div class="text">#}
{#                                            <h3>Sosyal Sorumluluk</h3>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="overlay-bottom">#}
{#                                        <p class="small">PureAds, insan ve çevre için daha iyi koşullar & daha güzel#}
{#                                            bir gelecek sağlamak amacıyla, sizden aldığı gücü, sizin seçeceğiniz yardım#}
{#                                            kuruluşlarıyla paylaşmayı hedefliyor.</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-sm-6 col-md-3 isotope-item social">#}
{#                            <div class="image-box text-center">#}
{#                                <div class="overlay-container">#}
{#                                    <img src="{% static 'images/portfolio/social/sunlight.jpg' %}" alt="">#}
{#                                    <div class="overlay-top">#}
{#                                        <div class="text">#}
{#                                            <h3>Sosyal Sorumluluk</h3>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="overlay-bottom">#}
{#                                        <p class="small">PureAds, insan ve çevre için daha iyi koşullar & daha güzel#}
{#                                            bir gelecek sağlamak amacıyla, sizden aldığı gücü, sizin seçeceğiniz yardım#}
{#                                            kuruluşlarıyla paylaşmayı hedefliyor.</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
					</div>
					<div class="space-bottom"></div>
					<hr>
				</div>
				<div class="owl-carousel content-slider">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="testimonial text-center">
									<div class="testimonial-image">
										<img src="{% static 'images/testimonials/testimonial-1.jpg' %}" alt="Retargeting"
                                             title="Retargeting" class="img-circle">
									</div>
									<h3>Retargeting</h3>
									<div class="separator"></div>
									<div class="testimonial-body">
										<br>
											<p>Sitenize gelmiş ve ayrılmış ziyaretçinizi networkte yeniden
                                                hedefler. Görünürlüğünüzü ve satış performansınızı artırır. </p>

									</div>
								</div>
							</div>
						</div>
					</div>
{% comment %}					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="testimonial text-center">
									<div class="testimonial-image">
										<img src="{% static 'images/testimonial-2.jpg' %}" alt="Jane Doe" title="Jane Doe" class="img-circle">
									</div>
									<h3>Amazing!</h3>
									<div class="separator"></div>
									<div class="testimonial-body">
										<blockquote>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
										</blockquote>
										<div class="testimonial-info-1">- Jane Doe</div>
										<div class="testimonial-info-2">By Company</div>
									</div>
								</div>
							</div>
						</div>
					</div>{% endcomment %}
				</div>
{#                <div class="owl-carousel content-slider">#}
{#				    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-md-8 col-md-offset-2">#}
{#								<div class="testimonial text-center">#}
{#									<div class="brands-image">#}
{#										<img src="{% static 'images/yayincilarimiz/ornek-yayincilarimiz.png' %}" alt="Retargeting"#}
{#                                             title="Retargeting">#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#                        </div>#}
{#				    </div>#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-md-8 col-md-offset-2">#}
{#								<div class="testimonial text-center">#}
{#									<div class="brands-image">#}
{#										<img src="{% static 'images/yayincilarimiz/exclusive-yayincilarimiz.png' %}" alt="Retargeting"#}
{#                                             title="Retargeting">#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#                        </div>#}
{#				    </div>#}
{#                </div>#}
{#			</section>#}
			<!-- section PORTFOLIO end -->