        {% load staticfiles %}
        <!-- start BRANDS section -->
        <section class="dark-background noPadding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                MARKA MİMARİSİ OLUŞTURMA & YÖNETİMİ
                                <br><br>
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                MARKA STRATEJİ GELİŞTİRME & YÖNETİMİ
                                <br><br>
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                DİJİTAL PAZARLAMA
                                <br><br><br>
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                DİJİTAL REKLAM
                                <br><br><br><br>
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                PR HİZMETLERİ
                                <br><br><br><br>
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                YAZILIM
                                <br><br><br><br>
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end BRANDS section -->
