{% load staticfiles %}
{% load get_slider_thumbnail %}
<div id="mycarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            {% for slider in view.sliders %}
                <li data-target="#mycarousel" data-slide-to="{{ forloop.counter0 }}"
                    {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for slider in sliders %}
                    <div class="item fullscreen">
                    <img class="background" src="{% static 'img/projects/background.jpg' %}" data-color="white" alt="Image">
                    <div class="carousel-caption">
                        <div class="container-fluid">
                        {% if forloop.counter0|divisibleby:2 %}
                            <div class="row vertical-align">
                                <div class="col-sm-12 col-md-6">
                                    <div class="project-description-left">
                                        <h1 class="strong text-white">{{ slider.title }}</h1>
                                        <p class="lead text-white">{{ slider.description }}</p>
                                    </div><!-- end project-description -->
                                </div><!-- end col -->
                                <div class="col-sm-12 col-md-6 noPadding hidden-xs hidden-sm">
                                    <figure>
                                        <img src='{{ slider|get_slider_thumbnail:"lg"}}' alt="{{ slider.title|lower }} img"/>
                                    </figure>
                                </div><!-- end col -->
                            </div><!-- end row -->
                         {% else %}
                            <div class="row vertical-align">
                                <div class="col-sm-12 col-md-6 noPadding hidden-xs hidden-sm">
                                    <figure>
                                        <img src='{{ slider|get_slider_thumbnail:"lg"}}' alt="{{ slider.title|lower }} img"/>
                                    </figure>
                                </div><!-- end col -->
                                <div class="col-sm-12 col-md-6">
                                    <div class="project-description-left">
                                        <h1 class="strong text-white">{{ slider.title }}</h1>
                                        <p class="lead text-white">{{ slider.description }}</p>
                                    </div><!-- end project-description -->
                                </div><!-- end col -->
                            </div><!-- end row -->
                         {% endif %}
                        </div><!-- end container -->
                    </div><!-- end carousel-caption -->
                </div><!-- end item -->
                {% endfor %}
            </div><!-- end carousel-inner -->

            <!-- Controls -->
            <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>
            <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>
        </div><!-- end mycarousel -->
