{% load staticfiles %}
        <script>
            $(document).ready(function(){

            // please make sure that related css has been added...
            // alert-types : alert-success, alert-danger etc.
            function showFlashMessage(message, alertType) {
            console.log("showFlashMessaje çalıştı");
            var template = "<div id='flash-message' class='container container-alert-flash'>" +
                "<div class='col-sm-3 col-sm-offset-8'> " +
                "<div class='alert " + alertType + " alert-dismissible' role='alert'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<span aria-hidden='true'>&times;</span></button>"
                + message + "</div></div></div>";
            console.log(template);
            $("body").append(template);
            $(".container-alert-flash").fadeIn();

            setTimeout(function () {
                $(".container-alert-flash").fadeOut();
                $(".container-alert-flash").promise().done(function() {
                    var element = document.getElementById("flash-message");
                    element.parentNode.removeChild(element);
                });
            }, 2500);

        }
            {% if message %} showFlashMessage('{{ message }}', '{{ alert_type }}'); {% endif %}
        });

        </script>
