{% load staticfiles %}
        <!-- JavaScript Files -->
        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="{% static 'js/gmaps.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/appear.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>#}
