{% load staticfiles %}
        <!-- start nav -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img alt="Brand" src="{% static 'img/logo-45px.png' %}">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if request.resolver_match.url_name == "home" %}active{% endif %}">
                            <a href="{% url 'home' %}">ANASAYFA</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == "hakkimizda" %}active{% endif %}">
                            <a href="{% url 'hakkimizda' %}">HAKKIMIZDA</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == "hizmetlerimiz" %}active{% endif %}">
                            <a href="{% url 'hizmetlerimiz' %}">HİZMETLERİMİZ</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- end container -->
        </nav>
        <!-- end nav -->
