        <!-- start OUR SERVICES section -->
        <section class="section light-background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">
                            <h2>Her zorluğun ortasında bir fırsat yatar</h2><label>Albert EINSTEIN</label>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">
                            <label>CONSULTA ekibi olarak bizler bu bilgiden hareketle; geçmişin tecrübesini geleceğin fırsat
                                ve imkânlarıyla besleyerek bugünü daha iyi sonuçlarla yaratıyoruz.</label>
                        </div><!-- end featured -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end OUR SERVICES section -->
