<!-- start section -->
        <section class="section light-background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">
                            <h1>Our Services</h1><label>What we do best</label>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="featured style-1">
                            <div class="header">
                                <i class="fa fa-code"></i>
                                <span>Web Development</span>
                            </div>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae .Donec eu turpis augue.</p>
                        </div><!-- end featured -->
                    </div><!-- end col -->
                    <div class="col-sm-4">
                        <div class="featured style-1">
                            <div class="header">
                                <i class="fa fa-camera-retro"></i>
                                <span>Photography</span>
                            </div>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae .Donec eu turpis augue.</p>
                        </div><!-- end featured -->
                    </div><!-- end col -->
                    <div class="col-sm-4">
                        <div class="featured style-1">
                            <div class="header">
                                <i class="fa fa-line-chart"></i>
                                <span>SEO & Analytics</span>
                            </div>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae .Donec eu turpis augue.</p>
                        </div><!-- end featured -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="section image-background fixed layer-dark" style="background-image: url(img/background01.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">
                            <h1>Testimonials</h1>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div id="owl-demo" class="owl-carousel owl-theme">
                            <div class="item text-center">
                                <h4>John Doe</h4>
                                <h6>CEO/Company name</h6>
                                <hr class="spacer-30">
                                <p class="lead">“Aenean semper lacus sed molestie sollicitudin. In semper, tellus id posuere interdum, est justo faucibus quam, sed eleifend arcu nulla id eros. Suspendisse id risus eu massa efficitur hendrerit.”</p>
                            </div><!-- end item -->
                            <div class="item text-center">
                                <h4>John Doe</h4>
                                <h6>CEO/Company name</h6>
                                <hr class="spacer-30">
                                <p class="lead">“Eleifend arcu nulla id eros. Suspendisse id risus eu massa efficitur hendrerit.”</p>
                            </div><!-- end item -->
                            <div class="item text-center">
                                <h4>John Doe</h4>
                                <h6>CEO/Company name</h6>
                                <hr class="spacer-30">
                                <p class="lead">“Aenean semper lacus sed molestie sollicitudin. In semper, tellus id posuere interdum, est justo faucibus quam, sed eleifend arcu nulla id eros. Suspendisse id risus eu massa efficitur hendrerit.”</p>
                            </div><!-- end item -->
                        </div><!-- end owl carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="dark-background noPadding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                <img class="c1" src="img/clients/client_01.png" alt="" />
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                <img class="c1" src="img/clients/client_02.png" alt="" />
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                <img class="c1" src="img/clients/client_03.png" alt="" />
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                <img class="c1" src="img/clients/client_04.png" alt="" />
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                <img class="c1" src="img/clients/client_05.png" alt="" />
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                    <div class="col-lg-2 col-sm-4 noPadding">
                        <div class="client">
                            <a href="javascript:void(0);">
                                <img class="c1" src="img/clients/client_06.png" alt="" />
                            </a>
                        </div><!-- end client -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="section white-background">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">
                            <h1 class="">Keep in touch</h1><label>Nullam sit amet odio eu est aliquet euismod a a urna.</label>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-sm-7">
                        <form>
                            <input type="text" name="name" class="form-control input-lg" placeholder="First Name">
                            <br>
                            <input type="text" name="name" class="form-control input-md" placeholder="Last Name">
                            <br>
                            <input type="text" name="name" class="form-control input-sm" placeholder="E-mail">
                            <br>
                            <textarea rows="5" class="form-control" placeholder="Message"></textarea>
                            <br>
                            <input type="submit" class="btn btn-default round btn-md" value="Submit">
                        </form>
                    </div><!-- end col -->
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="featured style-2">
                                    <div class="header">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Our address</span>
                                    </div>
                                    <p>House #41, Street road, Sydney 1420 Australia</p>
                                </div><!-- end featured -->
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <hr class="spacer-10 no-border">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="featured style-2">
                                    <div class="header">
                                        <i class="fa fa-phone"></i>
                                        <span>Call us</span>
                                    </div>
                                    <p>+ 123 44 567 8910</p>
                                    <p>+ 123 34 456 7890</p>
                                </div><!-- end featured -->
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <hr class="spacer-10 no-border">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="featured style-2">
                                    <div class="header">
                                        <i class="fa fa-envelope"></i>
                                        <span>Email us</span>
                                    </div>
                                    <p>email@domain.com</p>
                                </div><!-- end featured -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="white-background">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 noPadding">
                        <div class="map" id="map"></div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end section -->

        <!-- JavaScript Files -->
        <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="js/gmaps.js"></script>
        <script type="text/javascript" src="js/appear.js"></script>
        <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

