        <!-- start TESTIMONIALS section -->
        <section class="section image-background fixed layer-dark">
            <div class="container">
{#                <div class="row">#}
{#                    <div class="col-sm-12">#}
{#                        <div class="title">#}
{#                            <h4>İNSANLAR ÇOĞUNLUKLA SİZ ONLARA GÖSTERENE KADAR NE İSTEDİKLERİNİ BİLEMEZLER."#}
{#                                <span>STEVE JOBS</span></h4>#}
{#                        </div>#}
{#                    </div><!-- end col -->#}
{#                </div><!-- end row -->#}

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div id="owl-demo" class="owl-carousel owl-theme">
                            <div class="item text-center">
                                <h4>“İnsanlar çoğunlukla siz onlara gösterene kadar ne istediklerini bilemezler."</h4>
                                <hr class="spacer-30">
                                <p class="lead">STEVE JOBS</p>
                            </div><!-- end item -->
                            <div class="item text-center">
                                <h4>“Reklamınız satmıyorsa, yaratıcı değildir.”</h4>
                                <hr class="spacer-30">
                                <p class="lead">DAVID OGILVY</p>
                            </div><!-- end item -->
                            <div class="item text-center">
                                <h4>"Balık arıyorsan ağaca tırmanma."</h4>
                                <hr class="spacer-30">
                                <p class="lead">ÇİN ATASÖZÜ</p>
                            </div><!-- end item -->
                        </div><!-- end owl carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- end TESTIMONIALS section -->
