{% load staticfiles %}
<div class="container" id="yayincilarimiz">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                            <a name="yayincilarimiz"></a>
							<h2 class="text-center">EXCLUSIVE YAYINCILARIMIZ</h2>
							<div class="separator"></div>
							<p class="large text-center"></p>
                    </div>
                </div>

					<div class="clients-container">

                        <div class="owl-carousel exclusive">
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/exclusive/alternatif_anne.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/exclusive/interrail.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/exclusive/basketball.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/exclusive/dirilis.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/exclusive/evdesifa.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/exclusive/sorgulama.jpg' %}" alt=""></a>
								</div>
							</div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <h2 class="text-center">ÖRNEK YAYINCILARIMIZ</h2>
                                <div class="separator"></div>
                                <p class="large text-center"></p>
                        </div>
                    </div>
					<div class="clients-container">

                        <div class="owl-carousel non-exclusive">
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/arabalar.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/bein.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/cepkolik.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/dailymotion.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/donanim_haber.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/elle.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/fanatik_iddaa.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/haberturk.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/hesaplama.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/hurriyet.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/izlesene.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/kadinlar_klubu.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/kanal_d.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/mackolik.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/marie_claire.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/milliyet.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/ruyalar.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/sabah.jpg' %}" alt=""></a>
								</div>
                                <div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/sporx.jpg' %}" alt=""></a>
								</div>
								<div class="client">
									<a href="#"><img src="{% static 'images/yayincilarimiz/non-exclusive/zapkolik.jpg' %}" alt=""></a>
								</div>
							</div>
                    </div>
</div>

